@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    width: 85px;
}

#nav-header {
    background-color: #fff !important;
    font-weight: 500;
    color: #000 !important;
}

#nav-header .nav-link {
    color: #000;
}

.navbar-brand span {
    font-weight: 600;
    font-size: 1.5rem;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #000;
    --bs-dropdown-link-active-color: #fff;
}


.card:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
}

.card-body h6 {
    height: 45px;
}

#button-open-modal:hover {
    background-color: #000 !important;
    color: #fff !important;   
}

#img-recipe {
    width: 100%;
}

textarea {
    height: 120px;
}

footer {
    background-color: black;
    flex-shrink: 0;
}

footer .row {
    height: 60px;
}

#footer-top, #footer-top i {
    color:#fff;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#loading {
    width: 200px;
}