@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    width: 85px;
}

#nav-header {
    background-color: #fff !important;
    font-weight: 500;
    color: #000 !important;
}

#nav-header .nav-link {
    color: #000;
}

.navbar-brand span {
    font-weight: 600;
    font-size: 1.5rem;
}

.card:hover {
    border: 3px solid #000;
    cursor: pointer;
}


.card-body {
    height: 85px;
}

textarea {
    height: 120px;
}

footer {
    background-color: black;
    flex-shrink: 0;
}

footer .row {
    height: 60px;
}

#footer-top, #footer-top i {
    color:#fff;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
